.wrapper {
    padding: 20px;
    display: flex;
}
.title {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.title-main {
    color: var(--primary);
}
.logo {
    width: 80px;
    height: 80px;
}

.icon {
    width: 30px;
    height: 30px;
}

.more-btn {
    font-size: 20px;
    margin-left: 24px;
    background-color: transparent;
    padding: 6px;
    border: none;

    &:hover {
        cursor: pointer;
        color: var(--hover-color);
    }
}
